.item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.2s ease-in;
}
.item:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* @media screen and (max-width: 600px) {
    .item{
        display: flex;
        flex-direction: row;
    }
} */