.login-form{
    background: linear-gradient(to top, #fea061, #f31f1f);
}
.login-form input[type="password"], input[type="email"]{
    border: 2px solid black;
    height: 45px;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    /* auto-c */
}

.admin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.box{
    display: flex;
    column-gap: 10px;
    /* border: 1px solid red; */
}
.inner-box{
    border: 1px solid red;
    padding: 15px;
}
