.popular{
    background-color: #fed6e1;
    /* background: linear-gradient(to top, #fed6e1, #ffdfec); */
}

@media  screen and (max-width:992px) {
    img{
        width: 300px;
        height: 300px;
    }
    .text h1{
        font-size: 35px;
    }
    .text h3{
        font-size: 20px;
    }
    /* .button-div{
        width: 50%;
    } */
}

@media screen and (max-width: 600px) {
    .popular{
        padding: 10px 0px;
    }
    .offers-sec{
        display: flex;
        flex-direction: column;
    }
    .offers-sec .text .button-div{
        width: 40%;
    }
}