.cont{
    background: linear-gradient(to top, #fcf4f4, #de8ecc);
    /* #AD579B */
}
    
.hero-text{
    animation: fadeIn 2s;
}

.hero-img-con{
    position: relative;
}

.hero-img{
    z-index: 2;
}

.hero-curve{
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    border: 2px solid #000;
    z-index: 1;
    top: 0;
    right: 10%;
    background: radial-gradient(50% 50% at 50% 50%, #FFF7F7 0%, #D89595 50%, #572F2F 100%);
    animation: fadeIn 2s;
}
/* B07EB1 */

@media screen and (max-width: 1279px) {
    .hero-text h1{
        font-size: 50px;
    }
    .hero-text h3{
        font-size: 25px;
    }
    .hero-curve{
        height: 22vw;
        width: 22vw;
        right: 12%;
    }
    .hero-img-con img{
        width: 380px;
        height: 455px;
    }
}
@media screen and (max-width: 992px) {
    .hero-curve{
        height: 22vw;
        width: 22vw;
        right: 15%;
    }
    .hero-img-con img{
        width: 380px;
        height: 455px;
    }
}
 @media screen and (max-width: 768px) {
    .hero-text h1{
        font-size: 40px;
    }
    .hero-text h3{
        font-size: 20px;
    }
    .hero-text button{
        width: 120px;
        font-size: 17px;
    }
    .hero-curve{
        height: 22vw;
        width: 22vw;
        right: 17%;
    }
    .hero-img-con img{
        width: 300px;
        height: 390px;
    }
}

@media screen and (max-width: 600px) {    
    .hero-text h1{
        font-size: 30px;
    }
    .hero-text h3{
        font-size: 15px;
    }
    .hero-curve{
        height: 26vw;
        width: 26vw;
        right: 37%;
    }
    .hero-img-con img{
        width: 250px;
        height: 310px;
    }
}