.social-icons li{
    display: flex;
    align-items: center;
    /* justify-content: spac; */
    gap: 6px;
}

.footer-links hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #F31F1F;
}