.social-icons li{
    display: flex;
    align-items: center;
    /* justify-content: spac; */
    gap: 6px;
}

.footer-links hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #F31F1F;
}

@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }
    .footer .footer-text{
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
}