.logo-text{
    color: transparent;
    background: linear-gradient(to top, #FEB561, #f31f1f);
    background-clip: text;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #F31F1F;
}

.cart-counter{
    width: 17px;
    height: 17px;
    /* border: none; */
    border-radius: 50%;
    background: #F31F1F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -19px;
    margin-left: -30px;
}

@media screen and (max-width: 1279px){
    .main{
        background-color: #FEB561;
    }
    .main .logo img{
        width: 70px;
        height: 70px;
    }
    .cart-logo img{
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width: 992px){
    .main{
        background-color: aqua;
    }
    .main .logo img{
        width: 68px;
        height: 68px;
    }
    .button-div{
        width: 65px;
        /* height: 50px; */
    }
}
@media screen and (max-width: 767px){
    .main .logo img{
        width: 65px;
        height: 65px;
    }
    .nav{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .main .logo img{
        width: 60px;
        height: 60px;
    }
    .button-div{
        width: 65px;
    }
    .logo-text{
        font-size: 30px;
    }
}
/* @media screen and (max-width: 600px){
    .main img{
       width: 30px;
       height: 30px;
    }
} */